.navBar {
    background-color:#142020;
}
.navBar .logo {
    width: 70px;
}
.navBar  a {
    color: #ffff;
    padding: 10px 10px;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
}
.navBar  a:hover {
    color: #10a140;
}
