.hero-box {
    background-image: linear-gradient(#1f1f1fe1, #1f1f1fe1), url("../../../images/heroImage.jpg");
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.hero-box h1 {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 0;
}

@media only screen and (max-width: 990px) {
    .hero-box {
        height: 400px;
    }
    .hero-box h1 {
    font-size: 40px;
    text-align: center;
    }
    .hero-box h5 {
        text-align: center;
        margin-top: 10px;
        font-size: 15px;
    }
}
